body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 75px;
}

.center {
    text-align: right;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    height: 100px;
}

