body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    height: 100px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    color: #404040;
    font-family: scans-serif;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
